
/* -------  SpinnerGoogle  ------- */

.container {
  margin-top: 12.5%;
  composes: flexyCentered from 'styles/_classes.scss';
}

.spinner {
  position: relative;
  width: 4em;
  height: 100%;
  margin: 0 auto;
  &::before {
    content: '';
    display: block;
    padding-top: 100%;

  }
  @media only screen and (min-width: $mq_medium) {
    width: 6em;
  }
  @media only screen and (min-width: $mq_large) {
    width: 8em;
  }
}

.svg {
  margin: auto;
  transform-origin: center center;
  animation: rotate 2s linear infinite;
  @include position(0, 0, 0, 0);
  composes: fullSize from 'styles/_classes.scss';

}
.path {
  stroke: $black;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% { transform: rotate(360deg) }
}

@keyframes dash {
  0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0 }
  50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35px }
  100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124px }
}